<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div>
        <h1>Login</h1>
    </div>
    <div>
        <form  method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <div>
        <p>Don't have an account? <a href="/Register">Register</a>.</p>
    </div>

</body>
</html>