<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div>
        <h1>Register</h1>
    </div>
    <div>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br><br>

            <label for="birthdate">Birthdate:</label>
            <input type="text" id="birthdate" name="birthdate" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="photo">photo:</label>
            <input type="text" id="photo" name="photo" required><br><br>

            <label for="artist">Artist:</label>
            <input type="checkbox" id="artist" name="artist" value="artist"><br><br>

            <label for="podcaster">Podcaster:</label>
            <input type="checkbox" id="podcaster" name="podcaster" value="podcaster"><br><br>

            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
